
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/testings">Testings</a></li>
    <li><a href="/contact">Contact</a></li>
    <% if (ip === "192.168.0.101") { %>
      <li><a href="/admin">Admin Panel</a></li>
    <% } %>
  </ul>
</nav>
        