
<%- include('partials/header', { ip: ip }) %>
<div class="home-bg">
  <h1>Welcome to Harsha’s Project Hub</h1>
</div>
<script>
  const images = ["/images/bg1.jpg", "/images/bg2.jpg", "/images/bg3.jpg"];
  let index = 0;
  setInterval(() => {
    document.querySelector(".home-bg").style.backgroundImage = `url(${images[index]})`;
    index = (index + 1) % images.length;
  }, 5 * 60 * 1000);
</script>
        